* {
    margin: 0;
    padding: 0;
}
 
body {
    background-color: rgb(220, 220, 220);
    font-family: Montserrat Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    overflow-x: hidden;
}

.hotbar{
    background-color: rgb(220, 220, 220);
    width: 100%;
    height: 100px;
    border-bottom: solid 5px #3f3f3f;
    align-items: center;
    display: flex;
    position: fixed;
    z-index: 1;
}

#logo {
    width: 159px;
    height: 119px;
    padding-left: 50px;
}

.icon {
    margin-left: 1000px;
    cursor: pointer;
    color: #850523;
}

.imagensTop {
    overflow: hidden;
    width: 150%;
    padding-top: 100px;
}

.carousel {
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.container {
    width: 450px;
    height: 250px;
    border-radius: 20px;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
}

#container1 {
    margin-left: 80px;
    margin-top: 50px;
    border: 2px solid #000;
}

#container2,
#container3,
#container4 {
    margin-left: 40px;
    border: 2px solid #000;
    margin-top: 50px;
}

.imagensBot {
    display: flex;
}

#container5 {
    margin-top: 80px;
    margin-left: 200px;
    border: 2px solid #000;
}

#container6 {
    margin-top: 80px;
    margin-bottom: 50px;
    margin-left: 100px;
    border: 2px solid #000;
}

.nextButton,
.previousButton {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    border-radius: 50%;
    color: #dcdcdc;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(-50%);
    margin-top: -130px;
    border: none;
}

.nextButton:focus,
.previousButton:focus {
    outline: none;
}

.nextButton {
    margin-left: 1300px;
}

.previousButton {
    margin-left: 20px;
}


.nextButton p, .previousButton p {
    font-size: 30px;
    padding-top: 10%;
}

.img {
    width: 500px;
    height: 500px;
}

#brightness1, #brightness2, #brightness3,
#brightness4, #brightness5, #brightness6 {
    filter: none;
}

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #850523b4;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #850523e7;
}


dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.60);   
}

dialog {
    border: none; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
}

dialog img {
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.like {
    outline: none;
    color: white;
    border: none;
    background: transparent;
    font-size: 50px;
    display: block;
    margin: 10px auto 0 30px; 
    width: 50px;
    height: auto;
}

#dialog-img4 {
    width: 600px;
    height: 500px;
}
#dialog-img5 {
    width: 800px;
    height: 500px;
}
#dialog-img6 {
    width: 700px;
    height: 500px;
}

.dropdown-div {
    width: 125px;
    height: 175px;
    background-color: #dcdcdc;
    border: 5px solid #3f3f3f;
    border-radius: 10px;
}

.dropdown {
    color: #850523;
    background-color: #bbbbbb;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 100px;
    height: 148px;
    margin-left: 50%;
}

.dropdown-menu {
    position: absolute;
    border: 2px solid #dcdcdc;
    background-color: #dcdcdc;
    border: 4px solid #3f3f3f;
    text-align: center;
    display: none;
    margin-left: -60px;
    margin-top: 20px;
}

.dropdown-menu a {
    padding: 10px;
    display: block;
    color: #850523;
    background-color: #bbbbbb;
    border: 3px solid #dcdcdc;
    border-radius: 5px;
    text-decoration: none;
}

a:hover {
    background-color: #a8a8a8;
}

